
body{
	    margin:0px;
        font-family:sans-serif;
        background-color: #3cc;
        color: #000;
        text-align: center;
}
header{
	height: 120px;
	background-image: url("http://www.freeimageslive.co.uk/image/view/7021/_original");
	background-size: contain;	
	background-position: bottom center;
}

.gametitle {
   height: 90px;
}
h1 {
	font-size: 40px;
	margin: 20px auto;
}

.checknum {
	margin-top: 0px;
	padding-bottom: 10px;
	height: 40px;
	color: red;
	font-size: 20px;
	text-align: center;  
}

#inputnum{
	height: 150px;
	width: 300px;
	font-size: 15px;
	text-align: center;
	margin-bottom: 30px;
    
}

.threebuttons {
   margin:0 auto;
   padding:0;
   
}

button:hover{
	opacity: 0.7;
}
button {
	height: 40px;
	width: 120px;
	background-color: pink;
	font-size: 15px;	
}

}

.checkleft {
	color: blue;
	font-size:20px;
	margin: 10px auto;
}
